<div class="d-flex flex-row">
  <div class="col-4">
    <%= render 'welcome/about' %>
  </div>
  <div class="col-4">
    <%= render 'welcome/research' %>
  </div>
  <div class="col-4">
    <%= render 'welcome/find_more' %>
  </div>
</div>