<div class="row">
  <div class="col-xs-4">
    <%= render 'welcome/about' %>
  </div>
  <div class="col-xs-4">
    <%= render 'welcome/research' %>
  </div>
  <div class="col-xs-4">
    <%= render 'welcome/find_more' %>
  </div>
</div>