<link href="https://fonts.googleapis.com/css2?family=Open+Sans" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/assets/psu.css" />
<%= javascript_include_tag "#{@base_url}/assets/pennstate.js" %>

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://analytics.libraries.psu.edu/matomo/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '24']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

<!-- display a content note on first load -->
<script type="text/javascript">
  $(document).ready(function() {
    if(!sessionStorage.getItem('hideContentWarning')) { 
      $('#content-warning-modal').modal('show');
    }

    $('#content-warning-modal button').click(function() {
      sessionStorage.setItem('hideContentWarning', true);
    });
  });
</script>

<div class="modal fade" id="content-warning-modal" tabindex="-1" role="dialog" aria-labelledby="content-warning-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <header class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="content-warning-modal-label"><%= t('messages.content_warning_label') %></h3>
      </header>
      <div class="modal-body">
        <%= I18n.t("messages.content_warning") %>
      </div>
      <footer class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </footer>
    </div>
  </div>
</div>
