<h1>Service Alerts</h1>
<h2 class="alert-date">April 29, 2026</h2>
<p>From Monday, May 11 to Monday, May 25, the Special Collections Reading Room will be closed to researchers for maintenance of our closed stacks storage. During this closure, our compact shelving (installed in 2000) will be getting a long-awaited upgrade. We look forward to serving our patrons more efficiently and improving the stewardship of our collections with these upgrades when we reopen on May 26th at 10am. Thank you for your patience and understanding!</p>