<section id="announcement" class="announcement container-fluid bg-warning">
  <div class="d-flex flex-row align-items-center justify-content-center px-2">
    <div class="col-12 py-2 text-center">
      <%= t('brand.announcement').html_safe %>
    </div>
  </div>
</section>