<h2 class="h3">Find More Materials</h2>
<p>In addition to our archival collections, the Special Collections Library holds over 200,000 books, manuscripts, scrapbooks, and maps. These can be found and requested through the <a href="https://catalog.libraries.psu.edu">library catalog</a>.</p>
<p>The <a href="https://digital.libraries.psu.edu">University Libraries Digital Collections</a> contain digitized and born-digital content from the Special Collections Library, as well as other libraries and colleges at Penn State, and from collaborating institutions.</p>
