<footer class="footer">
  <section class="row">
    <div class="footer__logo"> <a href="https://www.psu.edu"><img alt="Penn State University mark" src="https://libraries.psu.edu/sites/all/themes/custom/f5_psul/images/ul/psu_mark_footer.png"></a> </div>
    <div class="footer__social">
      <h2>Connect with<br>
        Penn State University Libraries</h2>
      <ul>
        <li><a href="//www.facebook.com/psulibs"><i class="fa fa-facebook-official"></i> Facebook</a></li>
        <li><a href="//twitter.com/psulibs"><i class="fa fa-twitter-square"></i> Twitter</a></li>
        <li><a href="//www.instagram.com/psulibs/"><i class="fa fa-instagram"></i> Instagram</a></li>
      </ul>
    </div>
    <div class="footer__meta">
      <h2>Penn State<br>
        University Libraries</h2>
      <ul>
        <li><a href="https://libraries.psu.edu">Libraries Home</a></li>
        <li><a href="https://staff.libraries.psu.edu">Libraries Intranet (Staff Only)</a></li>
        <li><a href="https://libraries.psu.edu/accessibility-help"><i class="fa fa-wheelchair"></i> Accessibility Help</a></li>
        <li><a href="https://libraries.psu.edu/website-feedback">Website Feedback</a></li>
        <li><a href="https://libraries.psu.edu/policies">Policies and Guidelines</a></li>
        <li><a href="https://libraries.psu.edu/directory">Staff Directory</a></li>
      </ul>
      <ul>
        <li>(814) 865-6368</li>
      </ul>
    </div>
    <div class="footer__boiler">
      <p>Copyright @2021 The Pennsylvania State University. 
        All rights reserved. Finding aids and archival metadata from the Penn State University Libraries are made available under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 Universal Public Domain Dedication.</a> Application of this dedication does not imply that the metadata is subject to copyright restrictions; where it is subject to such restrictions, this dedication removes them to the fullest extent possible under applicable law. This dedication does not apply to collection materials.</p>
      <p><a href="https://www.psu.edu/legal-statements/">Legal Statements</a> | <a href="https://universityethics.psu.edu/penn-state-hotline">PSU Hotline</a></p>
      <p> <a href="http://archivesspace.org">&nbsp;</a></p>
      </div>
  </section>
</footer>
