<footer class="mt-auto text-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3 mb-5 footer--logo">
        <a href="https://libraries.psu.edu" title="Home" rel="home" class="site-logo d-block">
          <img src="https://assets.libraries.psu.edu/psulib_base/dist/peripheral/logo.png" alt="Home" fetchpriority="high" height="52" width="198" />
        </a>
        <div class="region region-footer-left">
          <!-- Social Media Links -->
          <div class="block-social-media-links">
            <ul class="social-media-links--platforms platforms mt-4 mb-0 inline horizontal list-unstyled">
              <li class="list-inline-item">
                <a class="social-media-link-icon--linkedin pe-3" href="https://www.linkedin.com/company/psulibs"
                  aria-label="Follow us on LinkedIn" title="Follow us on LinkedIn">
                  <i class='bi bi-linkedin font-size-xl'></i>
                </a>

              </li>
              <li class="list-inline-item">
                <a class="social-media-link-icon--facebook pe-3" href="https://www.facebook.com/psulibs"
                  aria-label="Follow us on Facebook" title="Follow us on Facebook">
                  <i class='bi bi-facebook font-size-xl'></i>
                </a>

              </li>
              <li class="list-inline-item">
                <a class="social-media-link-icon--twitter pe-3" href="https://x.com/psulibs"
                  aria-label="Follow us on X" title="Follow us on X">
                  <i class='bi bi-twitter-x font-size-xl'></i>
                </a>

              </li>
              <li class="list-inline-item">
                <a class="social-media-link-icon--instagram pe-3" href="https://www.instagram.com/psulibs"
                  aria-label="Follow us on Instagram" title="Follow us on Instagram">
                  <i class='bi bi-instagram font-size-xl'></i>
                </a>

              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-8 col-lg-9 mb-5 footer--main">
        <div class="region region-footer">
          <div class="text-center">
            <p>All rights reserved. Finding aids and archival metadata from the Penn State University Libraries are made available under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 Universal Public Domain Dedication.</a> Application of this dedication does not imply that the metadata is subject to copyright restrictions; where it is subject to such restrictions, this dedication removes them to the fullest extent possible under applicable law. This dedication does not apply to collection materials.</p>
            <p>Visit <a href="http://archivesspace.org">archivesspace.org</a> |
              Hosted by <a href="https://lyrasis.org"><img style="scale: 80%;" src="/assets/lyrasis_star.png" alt="LYRASIS logo" />LYRASIS</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col footer--bottom">
        <div class="region region-footer-bottom">
          <div
            class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
            <div class="text-center">
              <ul class="list-inline list">
                <li class="list-inline-item">
                  <a href="/">Libraries Home</a>
                </li>
                <li class="list-inline-item">
                  <a href="https://intranet.libraries.psu.edu">Libraries Intranet (Employees Only)</a>
                </li>
                <li class="list-inline-item">
                  <a href="https://libraries.psu.edu/about/accessibility/request-accommodation-accessibility-help">Accessibility
                    Help</a>
                </li>
                <li class="list-inline-item">
                  <a href="https://libraries.psu.edu/website-feedback">Website Feedback</a>
                </li>
                <li class="list-inline-item">
                  <a href="https://libraries.psu.edu/policies">Policies and Guidelines</a>
                </li>
                <li class="list-inline-item">
                  <a
                    href="https://equity.psu.edu/equity-at-penn-state/penn-state-resources/acknowledgement-of-land">Acknowledgement
                    of Land</a>
                </li>
                <li class="list-inline-item">
                  <a href="tel:814-865-6368">(814) 865-6368</a>
                </li>
              </ul>
              <hr class="border-1 w-50 mx-auto">
            </div>

          </div>
          <!-- Standard Copyright block. -->
          <div class="copyright-block">
            <div class="psul-copyright text-center font-size-sm">
              <ul class="list-inline list">
                <li class="list-inline-item"><a href="https://universityethics.psu.edu/hotline">Hotline</a></li>
                <li class="list-inline-item"><a href="https://www.psu.edu/web-privacy-statement">Privacy
                    Statements</a></li>
                <li class="list-inline-item"><a href="https://policy.psu.edu/policies/ad85">Non Discrimination</a>
                </li>
                <li class="list-inline-item"><a href="https://www.psu.edu/accessibilitystatement">Accessibility</a>
                </li>
                <li class="list-inline-item"><a href="https://www.psu.edu/legal-statements">Legal Statements</a>
                </li>
              </ul>
              <p class="mb-0">Copyright &copy;2025 The Pennsylvania State University.<br>
                All rights reserved. Except where otherwise noted, this work is subject to a <a
                  href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 license.</a>
                <a href="https://libraries.psu.edu/psu-libraries-copyright-statement">Details and exceptions.</a>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</footer>