<link rel="stylesheet" type="text/css" href="/assets/psu.css" />
<section  id="header">
  <div class="header-row">
         <header class="header"> <a href="#content" accesskey="S" onclick="$('#content').focus();" class="offscreen">Skip to Main Content</a>
        <div id="branding" role="banner"> <a class="psuwordmark" href="/">
          <h1>Penn State University Libraries</h1>
          </a> </div>
        <nav class="top-bar" data-topbar  data-options="mobile_show_parent_link:true" role="navigation">
          <ul class="title-area">
            <li class="name">
              <h1><a href="/" rel="home" title="University Libraries Home">University Libraries</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"> <a href="#"> <span> Menu </span> </a> </li>
          </ul>
          <section class="top-bar-section">
            <ul id="main-menu" class="main-nav center">
              <li><a href="https://libraries.psu.edu/services">Services</a></li>
              <li><a href="https://libraries.psu.edu/research">Research</a></li>
              <li><a href="https://libraries.psu.edu/about">About</a></li>
              <li><a href="https://libraries.psu.edu/ask">Ask</a> </li>
            </ul>
          </section>
        </nav>
      </header>
    </div>
</section>
