<section id="header">
  <div class="header-row">
    <header class="header">
      <a href="#content" accesskey="S" onclick="$('#content').focus();" class="offscreen">Skip to Main Content</a>
      <div id="branding" role="banner">
        <a class="psuwordmark" href="/"><h1>Penn State University Libraries</h1></a>
      </div>
    </header>
  </div>
</section>
