<h2>About This Site</h2>
<p>The Archival Collections database is home to collection guides (also known as <em>finding aids</em>) for archival materials across the Penn State University Libraries system. They interpret and provide access to collections held in the <a href="https://libraries.psu.edu/specialcollections">Special Collections Library</a>, as well as other branch and Commonwealth Campus locations. They contain information about the records in the collection, the person or organization that created them, the organization of the collection, and a listing of boxes and folders.</p>
<p>Collections might consist of the records of an organization, the collected papers of an individual, correspondence between family members, or a collector's systematic accumulation of material on a specific topic.</p>
<p><strong>Please note that some of our collections are housed offsite and require advance notification for retrieval.</strong></p>
