<h2 class="h3">Start Your Research</h2>
<p>All researchers are welcome to visit the Special Collections Library. <a href="https://libraries.psu.edu/about/libraries/special-collections-library/plan-your-research-visit">Learn more about how to plan your visit.</a></p>
<p>Prior to your visit, you will need to <a href="https://aeon.libraries.psu.edu">create a research account</a> in order to request materials. <a href="/plugin/request_list/help">Learn more about how to request materials on this site.</a></p>
<h2 class="h3">Toward Inclusive Collections</h2>
<p>The Special Collections Library prioritizes building an inclusive archive through our collection development practices and our collections processing activities. <a href="https://libraries.psu.edu/about/libraries/special-collections-library/statement-more-inclusive-archival-collections">Learn more</a> about how SCL is moving toward a more inclusive archive, grounded in community-oriented collecting and description practice.</p>
<p>The Libraries also maintains a system-wide <a href="https://libraries.psu.edu/about/collections/statement-potentially-harmful-content">statement on potentially harmful content</a>.</p>
<p>To report description that needs to be updated, please complete our <a href="https://pennstate.qualtrics.com/jfe/form/SV_5cEP6M5ITmcMOpw">description feedback form</a>.</p> 
