<div class="row">
  <div class="col-sm-12">
    <h1><%= t('brand.welcome_head') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div><%= t('brand.welcome_message').html_safe %></div>
  </div>
  <div class="col-sm-12">
    <div class="welcome_about"><%= render "shared/about" %></div>
  </div>
</div>

<%= render "shared/below_search_content" %>
